{% extends "layout.html" %}

{% block content %}
    <h1>About</h1>
    <div class="content">
        <dl>
            <dt>Goal</dt>
            <dd>My goal in this was to create Kanji practice app. Other version I had tried didn't really
                work as I wanted. I wanted a practice page where I could practice the kanji and learn the
                definition and hiragana. Another feature I wanted was to be able to practice the same Kanji
                over and over. Then quiz you on Kanji to practice what you have learned. Though other apps
                had some of these features and many more not all of them were brought together the way I wanted.
                The most important this for me being able to practice multiple times some apps would move you to
                the next Kanji.
            </dd>
            <br/>
            <dt>Execution</dt>
            <dd>
                My intention however is not create a competing app, maybe in time as I am continually adding to
                it. My main purpose was working creating a web app that used both frontend and backend Technologies.
                I used Mysql as the database. The datais pretty stable and sequential in nature and no lists. So
                instead of using MongoDB I chose to take advantage of using MySql.
            </dd>
            <br/>
            <dd>
                Working on the frontend I did have to incorporate a lot of Javascript. I used a slider bar to change
                the speed at which the Kanji. This required a script to change the Kanji after the time expired but
                also another to update that time when the slider changed. The practice drawing was very involved as
                well. I used svg to do the drawing. That required recording the points and plotting them on the page.
                Also you needed to break the drawing and start again when you clicked with the mouse. Finally I needed
                to clear the drawing and maintain the information so it could be drawn again. I used some css grid
                templates to layout the practice page which had more parts to it.
            </dd>
            <dt>About Me</dt>
            <dt>Technologies</dt>
        </dl>
        <h3>Goal</h3>
        <h3>Execution</h3>
        <h3>Other</h3>
        <h3>About</h3>
        <h3>Technologies Used</h3>
        <p>Kanji web application.</p>
        <p>
            I built this app because I wanted an app to practice with Kanji most apps are just quizes. I also wanted
            something was divided by level.
        </p>

        <p>Technologies used:</p>
        <p>
            &emsp; Kanji data and information is stored in a mysql database. Accessing<br/>
            the database by grade using python. Searches in mysql including counts and distinct info.
        </p>
        <p>
            I used flask for webserving. I like that it's a lightweight framework. I let's me
            write more code using python in the html page. Also it allows me to use more direct
            mysql commands in the routing. Allowing to test and write mysql commands using mysql
            workbench to verify results.
        </p>
        <p>
            Javascript is used to for a slider to time how long it displays the definition before
            displaying the answer. Also Javascript is used for the drawing practice window using
            svg. Async/Await used to correct timing issue to allow repeat at end of database.
        </p>
    </div>
{% endblock %}