body {
    background:#dddddd;
    padding: 0;
    margin: 0;
}

tr {
    padding: 0;
    margin: 0;
}

td {
    padding: 0;
    margin: 0;
    border: 0;
}

.floor {
    padding: 0;
    margin: 0;
    width: 4%;
    float: left;
}

.cavern_map {
    margin: 0;
    padding: 0;
    width: 700px;
}

.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000099;
}

.nav_li {
    float: left;
}

.nav_li a {
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_li a:hover:not(.active) {
    background-color: #888888;
}

.active {
    background-color: #000066;
}